.outer-div {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #2c387e;
  }
  
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #2c387e;  
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 18vw;
  }
  
  input[type="submit"]:hover {
    background: #39489d;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 20%;
    left: 37%;
    height: 50vh;
    width: 25vw;
    border-radius: 10px;
  }
  
  .list-container {
    display: flex;
  }
  .bottom-para{
    text-align: center;
    padding-top: 30px;
  }
  a{
    text-decoration: none;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
  }
  .check-box{
    padding-left: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .reg-input-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @media only screen and (max-width: 900px){
    .login-form{
      top: 15%;
      left: 25%;
      height: 60vh;
      width: 42vw;
    }
    input[type="submit"] {
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 5px;
      width: 25vw;
    }
  }
  
  @media only screen and (max-width: 600px){
    .login-form {
      top: 15%;
      left:10% ;
      height: 60vh;
      width: 70vw;
    }
    input[type="submit"] {
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 5px;
      width: 40vw;
    }
  }